{% import "default/_macros.yaml.jinja" as macros -%}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  generateName: "gs-{{gameType | lower}}-"
  labels:
    {{ macros::standard_labels() | indent(prefix="    ")}}
spec:
  accessModes:
    - ReadWriteOnce
  {%- if storageClassName %}
  storageClassName: "{{storageClassName | addslashes}}"
  {%- endif %}
  resources:
    requests:
      storage: "{{storage | addslashes}}"
