{% import "default/_macros.yaml.jinja" as macros -%}
apiVersion: v1
kind: Pod
metadata:
  generateName: "sftp-{{gameType | lower}}-"
  labels:
    {{ macros::standard_labels() | indent(prefix="    ") }}
    nautikal.io/pod-type: "sftp-only"
spec:
  securityContext:
    fsGroup: {{server.user_id}}
  volumes:
    - name: data
      persistentVolumeClaim:
        claimName: "{{pvc_name}}"
  containers:
    {{ macros::sftp_container() | indent(prefix="    ") }}
